@charset "UTF-8";

/*Mobile First*/

*{
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 91vh;
    overflow: hidden;
}

header>h1{
    text-align: center;
    font-size: 2em;
    padding-top: 12px;
}

header>h2{
    text-align: center;
    font-size: 4em;
}

header>section{
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
}

header>section>a.clicavel{
    text-decoration: none;
}

header>section>a>img.size-img{
    margin: 5px;
    width: 50px;
}

header>p{
    font-size: large;
    text-align: justify;
    width: 260px;
    margin: auto;
    padding-bottom: 20px;
}

header>button{
    font-size: 1.3em;
    text-decoration: underline;
    display: block;
    margin: auto;
    width: 100vw;
    height: 50px;
    border: none;
}

header>button:hover {
    cursor: pointer;
}

#under-email{
    text-align: center;
}

#slide-down{
    width: 32px;
    display: block;
    margin: auto;
    position: relative;
    animation-duration: 2s;
    animation-name: todown;
    animation-iteration-count: infinite;
}

@keyframes todown {
    0% {
        top: 2%
    } 50% {
        top: 5%
    } 100% {
        top: 2%
    }
}